body{
    font-family: sans-serif;
    font-size: 15px;
    background-image: url("/img/im2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.col{
    border: 1px solid white;
    background-color: rgb(215, 239, 250);
}
img{
    height: 250px;
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 0px 15px;
    height: 40px;
}
h3:hover{
background-color: aqua;

}
@media only screen and (max-width: 1199px){
 .col{
    background-color: aqua;
 }
}
@media only screen and (max-width: 990px){
    .col{
        background-color: rgb(154, 190, 213);
    }
}